<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Dashboard Sidebar</title>
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="./img/name.png" alt="Logo">
                </span>
            </div>
            <div class="text header-text">
                <span class="name">Orlando</span>
                <span class="profession">Web developer</span>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>
                <ul class="menu-links">
                    <li class="nav-link"><a href="#">
                        <i class='bx bx-home-alt icon'></i>
                        <span class="text nav-text">Home</span>
                    </a></li>
                    <li class="nav-link"><a href="#">
                        <i class='bx bx-chart icon'></i>
                        <span class="text nav-text">Inventario</span>
                    </a></li>
                    <li class="nav-link"><a href="#">
                        <i class='bx bx-spreadsheet icon'></i>
                        <span class="text nav-text">MRP</span>
                    </a></li>
                    <li class="nav-link"><a href="#">
                        <i class='bx bx-money-withdraw icon'></i>
                        <span class="text nav-text">Plan Agregado</span>
                    </a></li>
                </ul>
            </div>

            <div class="buttom-content">
                <li class=""><a href="#">
                    <i class='bx bx-log-out icon'></i>
                    <div class="buttom-content__info">
                        <span class="text nav-text">Logout</span>
                        <p class="info-text">navarreteorlando57@gmail.com</p>
                    </div>
                </a></li>
                <li class="mode">
                    <div class="moon-sun">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark Mode</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>

    <main>
        <section class="home">
            <h1>Home</h1>
        </section>
    </main>

    <script src="../static/js/main.js"></script>
</body>
</html>